/* Globale stijlen */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  color: #1c1b22;
  background-color: #3b2e8c;
  background-image: linear-gradient(
    to bottom,
    #231c54,
    #292062,
    #2f256f,
    #35297e,
    #3b2e8c
  );
  background-repeat: no-repeat;
}

/* App-container */
.app {
  position: relative;
  width: 600px;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

/* Koppen en tekst */
h1 {
  text-align: center;
}
.score-board {
  background-color: #63636e;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  color: #fff;
  border: 1px solid #42424b;
  margin: 1rem 0;
}

.score,
.highscore {
  margin: 0;
  font-size: 0.875rem;
}
.highscore-container,
.score-container {
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.motivational-message {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}

/* Emoji's */
.emoji {
  font-family: 'Noto Color Emoji', sans-serif;
}
.emoji-small {
  font-size: 0.75rem;
}

button .emoji {
  margin-left: 0.5rem;
  font-size: 1rem;
}

/* Selectie-elementen */
.select-list,
.select-direction,
.select-set-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
}

.select-list select,
.select-direction select,
.select-set-size select {
  width: 45%;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #bbbbbd;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  background-color: #e8e8e9;
}

/* Knoppen */
.btn {
  border: none;
  border-radius: 0.25rem;
  font-family: 'Nunito', sans-serif;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

button.start-btn,
button.back-btn {
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button.start-btn {
  background-color: #2aa4bf;
  color: #fff;
}

button.start-btn:hover {
  background-color: #55b6cc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button.back-btn {
  color: #444;
  background-color: #dddddd;
  order: 2;
  margin-left: auto;
  font-size: 0.875rem;
}

button.back-btn:hover {
  background-color: #c7c7c7;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

/* saved sessions */
#saved-sessions-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 0.375rem;
  border: 1px solid;
  border-radius: 0.25rem;
  border: 1px solid #bbbbbd;
  background: #e8e8e9;
}

#saved-sessions-container ul li {
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  border: 1px solid #bbbbbd;
  padding: 0.25rem;
  background-color: #fff;
}

#saved-sessions-container ul li:hover {
  background-color: #f4f4f4;
}

.session-control-btn-container {
  display: flex;
  gap: 0.25rem;
}
.session-control-btn-container .continue-btn {
  background-color: #2aa4bf;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: 1px solid #139895;
}
.session-control-btn-container .continue-btn:hover {
  background-color: #55b6cc;
}

.session-control-btn-container .delete-btn {
  background-color: #da3d5a;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: 1px solid #a93046;
}

.session-control-btn-container .delete-btn:hover {
  background-color: #f35774;
}

.session-description {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #52525e;
}

/* Controle-elementen */
.controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

/* Quiz-container */
.quiz-container {
  margin-top: 1.5rem;
}

.question-container {
  display: none;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

.what-is {
  font-size: 1.25rem;
  font-weight: 700;
  color: #77767a;
}
.word {
  font-size: 1.5rem;
  font-weight: 900;
  color: #f24464;
}

/* Opties */
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.options button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  height: 6rem;
  background-color: #dcdcdf;
  color: #605f64;
  font-size: 1.125rem;
  font-weight: 600;
  border: 1px solid #bababf;
  border-radius: 0.25rem;
  cursor: pointer;
  text-indent: -1rem;
  transition: 200ms ease-in-out;
}

.options button i {
  margin-right: 10px;
  width: 12px;
  position: relative;
  left: -1rem;
}

.options button:hover {
  background-color: #eeeeef;
  border-color: #cbcbcf;
}

/* Kleurindicaties voor antwoorden */
.options button.correct {
  background-color: #16aba7 !important;
  color: #fff !important;
}

.options button.correct i,
.options button.wrong i {
  color: #fff;
}

.options button.wrong {
  background-color: #da3d5a !important;
  color: #fff !important;
}

.options button.correct-answer {
  background-color: #fff;
  border: 2px solid #16aba7;
  color: #16aba7;
}

.options button.correct-answer i {
  color: #16aba7;
  visibility: visible;
}

/* Voortgangsbalken */
.progress,
.set-progress,
.level-progress {
  width: 100%;
  height: 0.5rem;
  background-color: #eeeeef;
  margin: 0.125rem 0 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.progress-bar,
.set-progress-bar,
.level-progress-bar {
  width: 0;
  height: 100%;
  background-color: #18beba;
}

/* Resultaten en feedback */
.result {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.125rem;
}

.feedback {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}
